**Load the required libraries and dataset**

In [1]:
import pandas as pd

In [3]:
# Load the required data 
df = pd.read_csv("data/output/transcript_clean.csv")
df.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [8]:
df["event"].unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [12]:
df[df["event"]=="offer completed"]

,person,event,value,time
12658,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,offer completed,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...,0
12672,fe97aa22dd3e48c8b143116a8403dd52,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,0
12679,629fc02d56414d91bca360decdfa9288,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,0
12692,676506bad68e4161b9bbaffeb039626b,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,0
12697,8f7dd3b2afe14c078eb4f6e6fe4ba97d,offer completed,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...,0
...,...,...,...,...
306078,0c027f5f34dd4b9eba0a25785c611273,offer completed,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,714
306100,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...,714
306109,b895c57e8cd047a8872ce02aa54759d6,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714
306112,8431c16f8e1d440880db371a68f82dd0,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714
306130,24f56b5e1849462093931b164eb803b5,offer completed,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,714

In [14]:
df["value"][20000]

"{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4', 'reward': 2}"

In [15]:
df["person"][20000]

'158ccf2ed90541e7973106134cb1bba3'

In [16]:
df1 = pd.read_csv("data/output/profile_clean.csv")
df1.head()

  gender  age                                id    income
0      F   55  0610b486422d4921ae7d2bf64640c50b  112000.0
1      F   75  78afa995795e4d85b5d9ceeca43f5fef  100000.0
2      M   68  e2127556f4f64592b11af22de27a7932   70000.0
3      M   65  389bc3fa690240e798340f5a15918d5c   53000.0
4      M   58  2eeac8d8feae4a8cad5a6af0499a211d   51000.0

In [19]:
df1[df1["id"]=="158ccf2ed90541e7973106134cb1bba3"]

      gender  age                                id   income
12828      F   67  158ccf2ed90541e7973106134cb1bba3  87000.0