**Load the required data and libraries**

In [1]:
# Load the required libraries
import pandas as pd 
from datetime import datetime

In [2]:
# Load the dataset
df = pd.read_csv("data/output/profile_clean.csv")
df.head()

  gender  age                                id    income
0      F   55  0610b486422d4921ae7d2bf64640c50b  112000.0
1      F   75  78afa995795e4d85b5d9ceeca43f5fef  100000.0
2      M   68  e2127556f4f64592b11af22de27a7932   70000.0
3      M   65  389bc3fa690240e798340f5a15918d5c   53000.0
4      M   58  2eeac8d8feae4a8cad5a6af0499a211d   51000.0

# Comparision

**Gender and Income**

In [3]:
df1 = df[["gender", "income"]].groupby("gender").mean()

In [4]:
# Find the unique gender count
df["gender"].value_counts()

M    8484
F    6129
O     212
Name: gender, dtype: int64

**Age group and Income**

In [5]:
df["age"].min()

18

In [6]:
# Create new age groups 
bins= [18,36,56,76,150]
labels = ['Youth','Middle-Aged','Retired','Aging']

df2 = df.copy() #create a copy of the dataset 

df2['AgeGroup'] = pd.cut(df2['age'], bins=bins, labels=labels, right=False)
df2.head()

  gender  age                                id    income     AgeGroup
0      F   55  0610b486422d4921ae7d2bf64640c50b  112000.0  Middle-Aged
1      F   75  78afa995795e4d85b5d9ceeca43f5fef  100000.0      Retired
2      M   68  e2127556f4f64592b11af22de27a7932   70000.0      Retired
3      M   65  389bc3fa690240e798340f5a15918d5c   53000.0      Retired
4      M   58  2eeac8d8feae4a8cad5a6af0499a211d   51000.0      Retired

In [7]:
df2[["AgeGroup", "income"]].groupby("AgeGroup").mean()

                   income
AgeGroup
Youth        50844.566133
Middle-Aged  64666.601486
Retired      70367.504836
Aging        71538.787879