**Load the required data and libraries**

In [2]:
# Load the required libraries
import pandas as pd

In [3]:
# Load the dataset
df = pd.read_csv("data/output/profile_clean.csv")
df.head()

  gender  age                                id became_member_on    income
0      F   55  0610b486422d4921ae7d2bf64640c50b       1970-01-01  112000.0
1      F   75  78afa995795e4d85b5d9ceeca43f5fef       1970-01-01  100000.0
2      M   68  e2127556f4f64592b11af22de27a7932       1970-01-01   70000.0
3      M   65  389bc3fa690240e798340f5a15918d5c       1970-01-01   53000.0
4      M   58  2eeac8d8feae4a8cad5a6af0499a211d       1970-01-01   51000.0